
@using Core.Constants
@using Web.Areas.Admin.ViewModels.BespokeInform
@model BespokeInformIndexVM

<a class="btn btn-primary" asp-action="create" asp-controller="bespokeInform">Create</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">CreateAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col">Photo</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var bespokeInform in Model.BespokeInforms)
        {
            <tr>
                <td>@bespokeInform.Id</td>
                <td>@bespokeInform.Title</td>
                <td>@Html.Raw(bespokeInform.Description)</td>
                <td>@bespokeInform.CreatedAt.ToShortDateString()</td>
                <td>@bespokeInform.ModifiedAt.ToShortDateString()</td>
                <td><img class="img-thumbnail" style="width:50px ; height:50px; object-fit:cover" src="~/assets2/images/@bespokeInform.Photo" /></td>

                <td>
                    <a class="btn btn-primary" asp-action="update" asp-controller="bespokeInform" asp-route-id="@bespokeInform.Id">Update</a>
                    <form method="post" asp-action="delete" asp-controller="bespokeInform" asp-route-id="@bespokeInform.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>